<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modifier Un Produit</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-success">
		<div class="collapse navbar-collapse" id="collapsibleNavId">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">

				<li class="nav-item"><a class="nav-link" th:href="@{/admin/saisie}">Etudiants</a>
				</li>
				<li class="nav-item"><a class="nav-link" th:href="@{/user/index}">Chercher</a>
				</li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/register}">Ajouter User</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/login?logout}">
				[[${#httpServletRequest.remoteUser}]]
				</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="row">
		<div class="col-md-5 mx-auto">
			<form th:action="@{/admin/save}" method="post">
			<div class="form-group">
					<label for="id">ID</label>
					<input class="form-control" placeholder="Enter id ..." type="text" th:value="${etudiant.id}" name="id" id="id" required="required" disabled/>
					
				</div>
				<div class="form-group">
					<label for="nom">Nom</label>
					<input class="form-control" placeholder="Enter name ..." type="text" th:value="${etudiant.nom}" name="nom" id="nom" required="required"/>
					
				</div>
				<div class="form-group">
					<label for="prenom">Prenom</label>
					<input class="form-control" placeholder="Enter prenom ..."  type="text" th:value="${etudiant.prenom}" name="prenom" id="prenom" required="required"/>
					
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input class="form-control" type="email" placeholder="Enter email ..."  th:value="${etudiant.email}" name="email" id="email" required="required"/>
					
				</div>
				<div class="form-group">
					<label for="filiere">Filiére</label>
					<input class="form-control" type="text" placeholder="Enter filiere ..."  th:value="${etudiant.filiere}" name="filiere" id="filiere" required="required"/>
					
				</div>
				<div class="form-group mt-3">
					<button type="submit" class="btn btn-success">Save</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>